
@font-face {
  font-family: 'Norwester-Regular';
  src: url('Norwester-Regular.eot?#iefix') format('embedded-opentype'),  url('Norwester-Regular.otf')  format('opentype'),
	     url('Norwester-Regular.woff') format('woff'), url('Norwester-Regular.ttf')  format('truetype'), url('Norwester-Regular.svg#Norwester-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
