
@font-face {
  font-family: 'Neutraface2Text-Bold';
  src: url('Neutraface2Text-Bold.eot?#iefix') format('embedded-opentype'),  url('Neutraface2Text-Bold.otf')  format('opentype'),
	     url('Neutraface2Text-Bold.woff') format('woff'), url('Neutraface2Text-Bold.ttf')  format('truetype'), url('Neutraface2Text-Bold.svg#Neutraface2Text-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
