@font-face {
    font-family: 'GeomanistExtraLight';
    src: url('fonts/GeomanistExtraLight.eot');
    src: url('fonts/GeomanistExtraLight.eot') format('embedded-opentype'),
         url('fonts/GeomanistExtraLight.woff2') format('woff2'),
         url('fonts/GeomanistExtraLight.woff') format('woff'),
         url('fonts/GeomanistExtraLight.ttf') format('truetype'),
         url('fonts/GeomanistExtraLight.svg#GeomanistExtraLight') format('svg');
}
