@font-face {
    font-family: 'GeomanistMedium';
    src: url('fonts/GeomanistMedium.eot');
    src: url('fonts/GeomanistMedium.eot') format('embedded-opentype'),
         url('fonts/GeomanistMedium.woff2') format('woff2'),
         url('fonts/GeomanistMedium.woff') format('woff'),
         url('fonts/GeomanistMedium.ttf') format('truetype'),
         url('fonts/GeomanistMedium.svg#GeomanistMedium') format('svg');
}
