@font-face {
    font-family: 'GeomanistRegular';
    src: url('fonts/GeomanistRegular.eot');
    src: url('fonts/GeomanistRegular.eot') format('embedded-opentype'),
         url('fonts/GeomanistRegular.woff2') format('woff2'),
         url('fonts/GeomanistRegular.woff') format('woff'),
         url('fonts/GeomanistRegular.ttf') format('truetype'),
         url('fonts/GeomanistRegular.svg#GeomanistRegular') format('svg');
}
