
@font-face {
  font-family: 'UniversLTStd-Light';
  src: url('UniversLTStd-Light.eot?#iefix') format('embedded-opentype'),  url('UniversLTStd-Light.otf')  format('opentype'),
	     url('UniversLTStd-Light.woff') format('woff'), url('UniversLTStd-Light.ttf')  format('truetype'), url('UniversLTStd-Light.svg#UniversLTStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
