
@font-face {
  font-family: 'NeoSansStd-Medium';
  src: url('NeoSansStd-Medium.eot?#iefix') format('embedded-opentype'),  url('NeoSansStd-Medium.otf')  format('opentype'),
	     url('NeoSansStd-Medium.woff') format('woff'), url('NeoSansStd-Medium.ttf')  format('truetype'), url('NeoSansStd-Medium.svg#NeoSansStd-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
