
@font-face {
  font-family: 'Noto_Sans_CJK_JP_Medium';
  src: url('Noto_Sans_CJK_JP_Medium.eot?#iefix') format('embedded-opentype'),  url('Noto_Sans_CJK_JP_Medium.otf')  format('opentype'),
	     url('Noto_Sans_CJK_JP_Medium.woff') format('woff'), url('Noto_Sans_CJK_JP_Medium.ttf')  format('truetype'), url('Noto_Sans_CJK_JP_Medium.svg#NotoSansCJKJPMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
