
@font-face {
  font-family: 'Charter-Roman';
  src: url('Charter-Roman.eot?#iefix') format('embedded-opentype'),  url('Charter-Roman.woff') format('woff'), url('Charter-Roman.ttf')  format('truetype'), url('Charter-Roman.svg#Charter-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
