
@font-face {
  font-family: 'LibreBaskerville-Bold';
  src: url('LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),  url('LibreBaskerville-Bold.otf')  format('opentype'),
	     url('LibreBaskerville-Bold.woff') format('woff'), url('LibreBaskerville-Bold.ttf')  format('truetype'), url('LibreBaskerville-Bold.svg#LibreBaskerville-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
