@font-face {
    font-family: 'GeomanistBlack';
    src: url('fonts/GeomanistBlack.eot');
    src: url('fonts/GeomanistBlack.eot') format('embedded-opentype'),
         url('fonts/GeomanistBlack.woff2') format('woff2'),
         url('fonts/GeomanistBlack.woff') format('woff'),
         url('fonts/GeomanistBlack.ttf') format('truetype'),
         url('fonts/GeomanistBlack.svg#GeomanistBlack') format('svg');
}
