
@font-face {
  font-family: 'LibreBaskerville-Regular';
  src: url('LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),  url('LibreBaskerville-Regular.otf')  format('opentype'),
	     url('LibreBaskerville-Regular.woff') format('woff'), url('LibreBaskerville-Regular.ttf')  format('truetype'), url('LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
