@font-face {
    font-family: 'GeomanistBook';
    src: url('fonts/GeomanistBook.eot');
    src: url('fonts/GeomanistBook.eot') format('embedded-opentype'),
         url('fonts/GeomanistBook.woff2') format('woff2'),
         url('fonts/GeomanistBook.woff') format('woff'),
         url('fonts/GeomanistBook.ttf') format('truetype'),
         url('fonts/GeomanistBook.svg#GeomanistBook') format('svg');
}
