@font-face {
    font-family: 'GeomanistBold';
    src: url('fonts/GeomanistBold.eot');
    src: url('fonts/GeomanistBold.eot') format('embedded-opentype'),
         url('fonts/GeomanistBold.woff2') format('woff2'),
         url('fonts/GeomanistBold.woff') format('woff'),
         url('fonts/GeomanistBold.ttf') format('truetype'),
         url('fonts/GeomanistBold.svg#GeomanistBold') format('svg');
}
