
@font-face {
  font-family: 'Kanit-Italic';
  src: url('Kanit-Italic.eot?#iefix') format('embedded-opentype'),  url('Kanit-Italic.woff') format('woff'), url('Kanit-Italic.ttf')  format('truetype'), url('Kanit-Italic.svg#Kanit-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
