
@font-face {
  font-family: 'SFProText-Semibold';
  src: url('SFProText-Semibold.eot?#iefix') format('embedded-opentype'),  url('SFProText-Semibold.woff') format('woff'), url('SFProText-Semibold.ttf')  format('truetype'), url('SFProText-Semibold.svg#SFProText-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
