@font-face {
    font-family: 'GeomanistLight';
    src: url('fonts/GeomanistLight.eot');
    src: url('fonts/GeomanistLight.eot') format('embedded-opentype'),
         url('fonts/GeomanistLight.woff2') format('woff2'),
         url('fonts/GeomanistLight.woff') format('woff'),
         url('fonts/GeomanistLight.ttf') format('truetype'),
         url('fonts/GeomanistLight.svg#GeomanistLight') format('svg');
}
