
@font-face {
  font-family: 'NeoSansStd-Light';
  src: url('NeoSansStd-Light.eot?#iefix') format('embedded-opentype'),  url('NeoSansStd-Light.otf')  format('opentype'),
	     url('NeoSansStd-Light.woff') format('woff'), url('NeoSansStd-Light.ttf')  format('truetype'), url('NeoSansStd-Light.svg#NeoSansStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
