
@font-face {
  font-family: 'Kanit-Medium';
  src: url('Kanit-Medium.eot?#iefix') format('embedded-opentype'),  url('Kanit-Medium.woff') format('woff'), url('Kanit-Medium.ttf')  format('truetype'), url('Kanit-Medium.svg#Kanit-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
