
@font-face {
  font-family: 'NeoSansStd-Regular';
  src: url('NeoSansStd-Regular.eot?#iefix') format('embedded-opentype'),  url('NeoSansStd-Regular.otf')  format('opentype'),
	     url('NeoSansStd-Regular.woff') format('woff'), url('NeoSansStd-Regular.ttf')  format('truetype'), url('NeoSansStd-Regular.svg#NeoSansStd-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
