
@font-face {
  font-family: 'Kanit-Regular';
  src: url('Kanit-Regular.eot?#iefix') format('embedded-opentype'),  url('Kanit-Regular.woff') format('woff'), url('Kanit-Regular.ttf')  format('truetype'), url('Kanit-Regular.svg#Kanit-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
