
@font-face {
  font-family: 'Neutraface2Text-Light';
  src: url('Neutraface2Text-Light.eot?#iefix') format('embedded-opentype'),  url('Neutraface2Text-Light.otf')  format('opentype'),
	     url('Neutraface2Text-Light.woff') format('woff'), url('Neutraface2Text-Light.ttf')  format('truetype'), url('Neutraface2Text-Light.svg#Neutraface2Text-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
