@font-face {
    font-family: 'GeomanistUltra';
    src: url('fonts/GeomanistUltra.eot');
    src: url('fonts/GeomanistUltra.eot') format('embedded-opentype'),
         url('fonts/GeomanistUltra.woff2') format('woff2'),
         url('fonts/GeomanistUltra.woff') format('woff'),
         url('fonts/GeomanistUltra.ttf') format('truetype'),
         url('fonts/GeomanistUltra.svg#GeomanistUltra') format('svg');
}
