
@font-face {
  font-family: 'FrutigerLTStd-Light';
  src: url('FrutigerLTStd-Light.eot?#iefix') format('embedded-opentype'),  url('FrutigerLTStd-Light.otf')  format('opentype'),
	     url('FrutigerLTStd-Light.woff') format('woff'), url('FrutigerLTStd-Light.ttf')  format('truetype'), url('FrutigerLTStd-Light.svg#FrutigerLTStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
