
@font-face {
  font-family: 'NeoSansStd-Bold';
  src: url('NeoSansStd-Bold.eot?#iefix') format('embedded-opentype'),  url('NeoSansStd-Bold.otf')  format('opentype'),
	     url('NeoSansStd-Bold.woff') format('woff'), url('NeoSansStd-Bold.ttf')  format('truetype'), url('NeoSansStd-Bold.svg#NeoSansStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
