
@font-face {
  font-family: 'TheSansC4s-Regular';
  src: url('TheSansC4s-Regular.eot?#iefix') format('embedded-opentype'),  url('TheSansC4s-Regular.otf')  format('opentype'),
	     url('TheSansC4s-Regular.woff') format('woff'), url('TheSansC4s-Regular.ttf')  format('truetype'), url('TheSansC4s-Regular.svg#TheSansC4s-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
