
@font-face {
  font-family: 'Dazzed-Light';
  src: url('Dazzed-Light.eot?#iefix') format('embedded-opentype'),  url('Dazzed-Light.otf')  format('opentype'),
	     url('Dazzed-Light.woff') format('woff'), url('Dazzed-Light.ttf')  format('truetype'), url('Dazzed-Light.svg#Dazzed-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
