@font-face {
    font-family: 'FilsonProMedium';
    src: url('fonts/FilsonProMedium.eot');
    src: url('fonts/FilsonProMedium.eot') format('embedded-opentype'),
         url('fonts/FilsonProMedium.woff2') format('woff2'),
         url('fonts/FilsonProMedium.woff') format('woff'),
         url('fonts/FilsonProMedium.ttf') format('truetype'),
         url('fonts/FilsonProMedium.svg#FilsonProMedium') format('svg');
}
