@font-face {
    font-family: 'GeomanistThin';
    src: url('fonts/GeomanistThin.eot');
    src: url('fonts/GeomanistThin.eot') format('embedded-opentype'),
         url('fonts/GeomanistThin.woff2') format('woff2'),
         url('fonts/GeomanistThin.woff') format('woff'),
         url('fonts/GeomanistThin.ttf') format('truetype'),
         url('fonts/GeomanistThin.svg#GeomanistThin') format('svg');
}
