
@font-face {
  font-family: 'ModestFontBold';
  src: url('ModestFontBold.eot?#iefix') format('embedded-opentype'),  url('ModestFontBold.woff') format('woff'), url('ModestFontBold.ttf')  format('truetype'), url('ModestFontBold.svg#ModestFontBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
