
@font-face {
  font-family: 'HelveticaNeueLTCom-Roman';
  src: url('HelveticaNeueLTCom-Roman.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeueLTCom-Roman.woff') format('woff'), url('HelveticaNeueLTCom-Roman.ttf')  format('truetype'), url('HelveticaNeueLTCom-Roman.svg#HelveticaNeueLTCom-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
