
@font-face {
  font-family: 'SukhumvitSet-Bold';
  src: url('SukhumvitSet-Bold.eot?#iefix') format('embedded-opentype'),  url('SukhumvitSet-Bold.woff') format('woff'), url('SukhumvitSet-Bold.ttf')  format('truetype'), url('SukhumvitSet-Bold.svg#SukhumvitSet-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
