
@font-face {
  font-family: 'FrutigerLTStd-Bold';
  src: url('FrutigerLTStd-Bold.eot?#iefix') format('embedded-opentype'),  url('FrutigerLTStd-Bold.otf')  format('opentype'),
	     url('FrutigerLTStd-Bold.woff') format('woff'), url('FrutigerLTStd-Bold.ttf')  format('truetype'), url('FrutigerLTStd-Bold.svg#FrutigerLTStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
