
@font-face {
  font-family: 'Ladybirds';
  src: url('Ladybirds.eot?#iefix') format('embedded-opentype'),  url('Ladybirds.woff') format('woff'), url('Ladybirds.ttf')  format('truetype'), url('Ladybirds.svg#Ladybirds') format('svg');
  font-weight: normal;
  font-style: normal;
}
