@font-face {
    font-family: 'BenguiatStdBold';
    src: url('fonts/BenguiatStdBold.eot');
    src: url('fonts/BenguiatStdBold.eot') format('embedded-opentype'),
         url('fonts/BenguiatStdBold.woff2') format('woff2'),
         url('fonts/BenguiatStdBold.woff') format('woff'),
         url('fonts/BenguiatStdBold.ttf') format('truetype'),
         url('fonts/BenguiatStdBold.svg#BenguiatStdBold') format('svg');
}
