
@font-face {
  font-family: 'ModestFontRegular';
  src: url('ModestFontRegular.eot?#iefix') format('embedded-opentype'),  url('ModestFontRegular.woff') format('woff'), url('ModestFontRegular.ttf')  format('truetype'), url('ModestFontRegular.svg#ModestFontRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
