@font-face {
    font-family: 'FilsonProRegular';
    src: url('fonts/FilsonProRegular.eot');
    src: url('fonts/FilsonProRegular.eot') format('embedded-opentype'),
         url('fonts/FilsonProRegular.woff2') format('woff2'),
         url('fonts/FilsonProRegular.woff') format('woff'),
         url('fonts/FilsonProRegular.ttf') format('truetype'),
         url('fonts/FilsonProRegular.svg#FilsonProRegular') format('svg');
}
